.wrapper{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-auto-rows:minmax(100px, auto);
    /*grid-gap: 1em;*/
    justify-items:stretch;
    align-items: stretch;
  }

  .wrapper>div{
   /* background: #eee;*/
    padding: 1em;  
  }
  
  
  .box3{
     /*justify-self:end;*/
     grid-column:3;
     grid-row: 1/8;
  }
  .box4{
    grid-column:3;
    grid-row: 1/8;
  }
  .scale{
    display: grid;
    grid-template-columns: 70% 30% ;
    

  }
  .scale > div{
    padding: 1em;
  }
  .scale > b{
    background-color: blue;
  }
