<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <a class="navbar-brand" href="#"><b><h3>Futa App</h3></b></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">News <span class="sr-only">(current)</span></a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Leagues & Cups</a>
        </li>
        //-->
        <li class="nav-item">
            <a class="nav-link" href="#">Matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Prediction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lifestyle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fantacy Football</a>
        </li>
        <div class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </div>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>