{% extends 'layout.html' %}

{% block body %}
<div class="scale container row ">

  <div class="col-8">
    <h3>
        English Premear League Table
    </h3><br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="col-">#</th>
                <th scope="col" class="col-4">Team</th>
                <th scope="col" class="col-">Pl</th>
                <th scope="col" class="col-">W</th>
                <th scope="col" class="col-">D</th>
                <th scope="col" class="col-">L</th>
                <th scope="col" class="col-">F</th>
                <th scope="col" class="col-">A</th>
                <th scope="col" class="col-">GD</th>
                <th scope="col" class="col-">Pts</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Arsenal</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bournemouth</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Brighton & Hove Albion</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Burnley</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Cardiff City</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Chelsea</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Crystal Palace</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Everton</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Fulham</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Huddersfield Town</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Leicester City</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Liverpool</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Manchester City</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Manchester United</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Newcastle United</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>Southampton</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            
            <tr>
                <th scope="row">17</th>
                <td>Tottenham Hotspur</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>Watford</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">19</th>
                <td>West Ham United</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td>Wolverhampton Wanderers</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            
            </tbody>
        
        </table>
     </div>
  <div class="col-4  bg-light ">
        <!--fixtures-->
    <h4>FIXTURES</h4></br>
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 11 August 2018</b>

            <p class="p-3"> Arsenal v Man City
                <br>AFC Bournemouth v Cardiff City
                <br>Fulham v Crystal Palace
                <br>Huddersfield Town v Chelsea
                <br>Liverpool v West Ham
                <br>Man Utd v Leicester City
                <br>Newcastle United v Spurs
                <br>Southampton v Burnley
                <br>Watford v Brighton
                <br>Wolves v Everton
            </p>

        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 18 August 2018</b>

            <p class="p-3"> Brighton v Man Utd
                <br>Burnley v Watford
                <br>Cardiff City v Newcastle United
                <br>Chelsea v Arsenal
                <br>Crystal Palace v Liverpool
                <br>Everton v Southampton
                <br>Leicester City v Wolves
                <br>Man City v Huddersfield Town
                <br>Spurs v Fulham
                <br>West Ham v AFC Bournemouth
            </p>
        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 25 August 2018</b>
            <p class="p-3">Arsenal v West Ham
                <br>AFC Bournemouth v Everton
                <br>Fulham v Burnley
                <br>Huddersfield Town v Cardiff City
                <br>Liverpool v Brighton
                <br>Man Utd v Spurs
                <br>Newcastle United v Chelsea
                <br>Southampton v Leicester City
                <br> Watford v Crystal Palace
                <br>Wolves v Man City
            </p>
        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 1 September 2018</b>

            <p class="p-3"> Brighton v Fulham
                <br>Burnley v Man Utd
                <br>Cardiff City v Arsenal
                <br>Chelsea v AFC Bournemouth
                <br>Crystal Palace v Southampton
                <br>Everton v Huddersfield Town
                <br>Leicester City v Liverpool
                <br>Man City v Newcastle United
                <br>Watford v Spurs
                <br>West Ham v Wolves
            </p>
        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 15 September 2018</b>

            <p class="p-3"> AFC Bournemouth v Leicester City
                <br>Chelsea v Cardiff City
                <br>Everton v West Ham
                <br>Huddersfield Town v Crystal Palace
                <br>Man City v Fulham
                <br>Newcastle United v Arsenal
                <br>Southampton v Brighton
                <br>Spurs v Liverpool
                <br>Watford v Man Utd
                <br>Wolves v Burnley
            </p>

        <b  class="p-2 mb-2 bg-primary text-white"> Saturday, 22 September 2018 </b>

           <p class="p-3">  Arsenal v Everton
                <br>Brighton v Spurs
                <br>Burnley v AFC Bournemouth
                <br>Cardiff City v Man City
                <br>Crystal Palace v Newcastle United
                <br>Fulham v Watford
                <br>Leicester City v Huddersfield Town
                <br>Liverpool v Southampton
                <br>Man Utd v Wolves
                <br>West Ham v Chelsea
            </p>
        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 29 September 2018</b>

            <p class="p-3"> <br>Arsenal v Watford
                <br>AFC Bournemouth v Crystal Palace
                <br>Cardiff City v Burnley
                <br>Chelsea v Liverpool
                <br>Everton v Fulham
                <br>Huddersfield Town v Spurs
                <br>Man City v Brighton
                <br>Newcastle United v Leicester City
                <br>West Ham v Man Utd
                <br>Wolves v Southampton
            </p>
        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 6 October 2018</b>

            <p class="p-3"> Brighton v West Ham
                <br>Burnley v Huddersfield Town
                <br>Crystal Palace v Wolves
                <br>Fulham v Arsenal
                <br>Leicester City v Everton
                <br>Liverpool v Man City
                <br>Man Utd v Newcastle United
                <br>Southampton v Chelsea
                <br>Spurs v Cardiff City
                <br>Watford v AFC Bournemouth
        </p>
        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 20 October 2018</b>

                <p class="p-3"> Arsenal v Leicester City 
                    <br>AFC Bournemouth v Southampton
                    <br>Cardiff City v Fulham
                    <br>Chelsea v Man Utd
                    <br>Everton v Crystal Palace
                    <br>Huddersfield Town v Liverpool
                    <br>Man City v Burnley
                    <br>Newcastle United v Brighton
                    <br>West Ham v Spurs
                    <br>Wolves v Watford
                </p>
        
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 27 October 2018</b>

                <p class="p-3"> Brighton v Wolves
                    <br>Burnley v Chelsea
                    <br>Crystal Palace v Arsenal
                    <br>Fulham v AFC Bournemouth
                    <br>Leicester City v West Ham
                    <br>Liverpool v Cardiff City
                    <br>Man Utd v Everton
                    <br>Southampton v Newcastle United
                    <br>Spurs v Man City
                    <br>Watford v Huddersfield Town
                </p>
        
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 3 November 2018</b>

                <p class="p-3"> Arsenal v Liverpool
                    <br>AFC Bournemouth v Man Utd
                    <br>Cardiff City v Leicester City
                    <br>Chelsea v Crystal Palace
                    <br>Everton v Brighton
                    <br>Huddersfield Town v Fulham
                    <br>Man City v Southampton
                    <br>Newcastle United v Watford
                    <br>West Ham v Burnley
                    <br>Wolves v Spurs
                </p>
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 10 November 2018</b>

            <p class="p-3"> Arsenal v Wolves
                <br>Cardiff City v Brighton
                <br>Chelsea v Everton
                <br>Crystal Palace v Spurs
                <br>Huddersfield Town v West Ham
                <br>Leicester City v Burnley
                <br>Liverpool v Fulham
                <br>Man City v Man Utd
                <br>Newcastle United v AFC Bournemouth
                <br>Southampton v Watford
            </p>

        <b class="p-2 mb-2 bg-primary text-white">Saturday, 24 November 2018</b>

            <p class="p-3"> AFC Bournemouth v Arsenal
                <br>Brighton v Leicester City
                <br>Burnley v Newcastle United
                <br>Everton v Cardiff City
                <br>Fulham v Southampton
                <br>Man Utd v Crystal Palace
                <br>Spurs v Chelsea
                <br>Watford v Liverpool
                <br>West Ham v Man City
                <br>Wolves v Huddersfield Town
            </p>
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 1 December 2018</b>

            <p class="p-3"> Arsenal v Spurs
                <br>Cardiff City v Wolves
                <br>Chelsea v Fulham
                <br>Crystal Palace v Burnley
                <br>Huddersfield Town v Brighton
                <br>Leicester City v Watford
                <br>Liverpool v Everton
                <br>Man City v AFC Bournemouth
                <br>Newcastle United v West Ham
                <br>Southampton v Man Utd
            </p>
        <b class="p-2 mb-2 bg-primary text-white">Tuesday, 4 December 2018</b>

            <p class="p-3"> <br>19:45 AFC Bournemouth v Huddersfield Town
                <br>19:45 Brighton v Crystal Palace
                <br>19:45 Burnley v Liverpool
                <br>19:45 Fulham v Leicester City
                <br>19:45 Watford v Man City
                <br>19:45 West Ham v Cardiff City
                <br>19:45 Wolves v Chelsea
                <br>20:00 Man Utd v Arsenal
            </p>
        <b class="p-2 mb-2 bg-primary text-white">Wednesday, 5 December 2018</b>

            <p class="p-3"> <br>19:45 Everton v Newcastle United
                <br>20:00 Spurs v Southampton
            </p>
                
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 8 December 2018</b>

            <p class="p-3"> <br>Arsenal v Huddersfield Town
                <br>AFC Bournemouth v Liverpool
                <br>Burnley v Brighton
                <br>Cardiff City v Southampton
                <br>Chelsea v Man City
                <br>Everton v Watford
                <br>Leicester City v Spurs
                <br>Man Utd v Fulham
                <br>Newcastle United v Wolves
                <br>West Ham v Crystal Palace
            </p>
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 15 December 2018</b>

            <p class="p-3"> Brighton v Chelsea
                <br>Crystal Palace v Leicester City
                <br>Fulham v West Ham
                <br>Huddersfield Town v Newcastle United
                <br>Liverpool v Man Utd
                <br>Man City v Everton
                <br>Southampton v Arsenal
                <br>Spurs v Burnley
                <br>Watford v Cardiff City
                <br>Wolves v AFC Bournemouth
            </p>
        
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 22 December 2018</b>

            <p class="p-3"> Arsenal v Burnley
                <br>AFC Bournemouth v Brighton
                <br>Cardiff City v Man Utd
                <br>Chelsea v Leicester City
                <br>Everton v Spurs
                <br>Huddersfield Town v Southampton
                <br>Man City v Crystal Palace
                <br>Newcastle United v Fulham
                <br>West Ham v Watford
                <br>Wolves v Liverpool
            </p>
        
        <b class="p-2 mb-2 bg-primary text-white">Saturday, 26 December 2018</b>

            <p class="p-3"> Brighton v Arsenal
                <br>Burnley v Everton
                <br>Crystal Palace v Cardiff City
                <br>Fulham v Wolves
                <br>Leicester City v Man City
                <br>Liverpool v Newcastle United
                <br>Man Utd v Huddersfield Town
                <br>Southampton v West Ham
                <br>Spurs v AFC Bournemouth
                <br>Watford v Chelsea
            </p>
        
        <b  class="p-2 mb-2 bg-primary text-white">Saturday, 29 December 2018</b>

            <p class="p-3"> Brighton v Everton
                <br>Burnley v West Ham
                <br>Crystal Palace v Chelsea
                <br>Fulham v Huddersfield Town
                <br>Leicester City v Cardiff City
                <br>Liverpool v Arsenal
                <br>Man Utd v AFC Bournemouth
                <br>Southampton v Man City
                <br>Spurs v Wolves
                <br>Watford v Newcastle United
            </p>
  </div>
</div>


{% endblock %}