{% extends 'layout.html' %}

{% block body %}
<h1>
    Top news
</h1>
<div class="wrapper container">
    
    <div class="box box1"> 
        <img src="{{ url_for('static', filename='baka.jpg') }}"></img>
    </div>
    <div class="box box2"> 
      <h5>LOFTUS-CHEEK: I’M NOT WORRIED ABOUT MY FUTURE</h5>
    </div>
    <div class="box box3">
        <h1>Leagues & Cups</h1>
            <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#"> Premier League </a>                  
                </li>
                <li class="nav-item">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#"> Spanish La Liga </a>                     
                </li>
            </ul>
            <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                    <abackground: #eee; class="flex-sm-fill text-sm-center nav-link" href="#"> Italian Serie A</a>                   
                </li>
                <li class="nav-item">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">  French Ligue 1</a>                    
                </li>
            </ul>
            <ul class="nav nav-pills flex-column flex-sm-row">  
                                
                <li class="nav-item">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">UEFA Champions League</a>
                    
                </li>
                <li class="nav-item">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">EFL</a>
                       
                </li> 
            </ul>
            <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">FA Cup</a>
                </li>
                <li class="nav-item">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Europa League</a>
                   
                </li>
                
            </ul>
    </div>
    <div class="box box1"> 
        <img src="{{ url_for('static', filename='baka.jpg') }}"></img>
    </div>
    <div class="box box2"> 
      <h5>LOFTUS-CHEEK: I’M NOT WORRIED ABOUT MY FUTURE</h5>
    </div>
    <div class="box box1"> 
        <img src="{{ url_for('static', filename='baka.jpg') }}"></img>
    </div>
    <div class="box box2"> 
      <h5>LOFTUS-CHEEK: I’M NOT WORRIED ABOUT MY FUTURE</h5>
    </div>
    
  </div>

{% endblock %}